@import 'variable';
.events {
	position: relative;
	bottom: 190px;
	margin-bottom: -140px;
	text-align: center;
}

.events .section__title {
	padding-bottom: 68px;
	padding-top: 48px;
}

.events__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 25px;
}

.events__image-block {
	background-color: #d1d0cf;
	margin-left: 20px;
	margin-bottom: 15px;
}

.events__image-block img {
	width: 100%;
}

.events__image-block figcaption {
	padding-top: 10px;
	padding-bottom: 40px;
	font-size: 18px;
}

.events__btn {
	position: relative;
	bottom: 20px;
	padding: 15px 58px;
	font-size: 15px;
}

@media (max-width: $max-width-tablet) and (min-width: 481px) {
	.events {
		bottom: 10;
	}
	.events__image-block {
		width: 250px;
	}
}

@media (max-width: $max-width-mob) {
	.events {
		position: static;
		margin-bottom: 0;
	}

	.events .section__title {
		padding: 40px 0;

		background: #607070;
	}

	.events h2 {
		margin-bottom: 0;
	}

	.events__image-block {
		margin-top: 20px;
		margin-left: 0;
	}
}
