@import 'variable';

.feature {
	background: url('../img/feature_bg_1920.jpg') no-repeat;
	background-size: 75% 100%;
	background-position: right top;
}

.feature__content {
	display: flex;
	background-color: #faf0d7;
	justify-content: space-around;
	padding-top: 25px;
	padding-bottom: 25px;
}

.feature__list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 280px;
}

.feature .section__title {
	padding: 44px 0;
}

.feature__content img {
	max-width: 430px;
	padding-bottom: 25px;
}

.feature__item::before {
	content: '';
	display: block;
	width: 73px;
	height: 73px;
	margin: 0 auto;
	background: url('../img/feature_sprite.png') no-repeat;
}
.feature-icon-one:before {
	background-position-x: -370px;
}

.feature-icon-two:before {
	background-position-x: -290px;
}

.feature-icon-free:before {
	background-position-x: -225px;
}

.feature-icon-four:before {
	background-position-x: -155px;
}

.feature-icon-five:before {
	background-position-x: -85px;
}

.feature__item {
	text-align: center;
}

@media (min-width: 1600px) {
	.feature {
		background-size: 65% 100%;
	}
}

@media (max-width: $max-width-tablet) and (min-width: 481px) {
	.feature__content img {
		display: none;
	}

	.feature .section__title {
		padding-bottom: 15px;
	}
}

@media (max-width: $max-width-mob) {
	.feature__content {
		flex-direction: column;
	}
	.feature__content img {
		display: none;
	}

	.feature__list {
		flex-direction: column;

		margin: 0 auto;
	}

	.feature__item {
		margin-top: 20px;
	}

	.feature .section__title {
		padding-top: 40px;
		padding-bottom: 30px;
	}

	.feature__item-title {
		padding-bottom: 10px;
	}
}
