@import 'variable';

.footer {
	background-color: #212121;
}

.footer__content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 40px 0;
}

.footer__content nav {
	flex: 0 0 400px;
	width: 100%;
}

.footer__menu {
	display: flex;
	justify-content: space-between;
}

.footer__menu_link {
	color: #f1f1f1;
	text-decoration: none;
}

.footer__menu_link:hover {
	color: #4d76a1;
}

.footer__logo {
	font: 20px 'Prata', sans-serif;
	color: #f1f1f1;
}

@media (max-width: $max-width-mob) {
	.footer__menu {
		display: none;
	}

	.footer__content {
		display: block;
		text-align: center;
	}
}
